.dart_tool/
.packages
.pub/
build/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
macos/Pods/
*.iml
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
